body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hs1(0, 0%, 90%);
}
#myH1{
  font-size: 3rem;
font-family: "Arial", sans-serif;
color: hs1(0, 0%, 20%);
}
#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 30px;
  border-radius: 50px;
border: 5px solid;
}
#display{
  font-size: 2.5rem;
font-family: monospace;
font-weight: bold;
color: hs1(0, 0%, 20%);
text-shadow: 2px 2px 2px hsla(0, 0, 0, 0.75);
margin-bottom: 25px;
}
#controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}
#startBtn{
  background-color: hsl(115, 100%, 40%);
}
#startBtn:hover{
  background-color: hsl(115, 100%, 30%);
}
#stopBtn{
  background-color: hsl(0, 100%, 50%);
}
#stopBtn:hover{
  background-color: hsl(0, 100%, 40%);
}
#resetBtn{
  background-color: hsl(195, 100%, 50%);
}
#resetBtn:hover{
  background-color: hsl(195, 100%, 40%);
}
