body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}
p{
    font-size: 2rem;
    font-weight: bold;
    font-family: monospace;
    color: rgb(255, 70, 255);
}

.container{
    background-color: aqua;
}